#home{
    display:flex;
   justify-content: center;
    align-items: center;
    width:100%;
   height:100%;
   background-image:url(../../assets/back3.jpg);
}
#homecontainer{

}

.linkButton {
    font-size: 20px;
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #dd93f2;
    background-color: #2D2B2C; 
    color: #ffffff; 
    cursor: pointer;
    font-family: "Gill Sans", system-ui;
    display: block;
    margin:auto;
    margin-bottom: 20px;
    text-decoration: none;

}

link{
    text-decoration: none;
}
