header {
    height: 45px;
    position: fixed;
    text-align: center;
    background-color: #3C3C3C;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;

}
header .headerHeadline {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    
   
}
