

.placeButton{
    padding: 8px; 
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #2d2b2c; 
    color: #ffffff; 
    cursor: pointer;
    font-family: "Gill Sans", system-ui;
    display: block;
    text-decoration: none;
}



 .taskId{
  padding-right: 15px;
}
.placediv{
  
  padding: 10px;
    border-radius: 5px;
    outline: none;
     text-align: center;
    border: 3px solid #ffffff;
    font: 400 14px "Gill Sans", system-ui;
    width:100%;
    
    
    word-wrap: break-word;
}
.place-item{

  border-radius: 5px;
  border: 3px solid #ffffff;
  width:280px;
  font-size:14px;
  margin:10px;
  padding:5px;
  vertical-align:bottom;
  display: flex;
  flex-wrap: wrap;
  background-color: #f9e8e5;
  align-content: space-between;

}

.place-assignee{
  font:14px;
}

.place-details{
  width:100%;
  display:flex;
  justify-content: space-around;
  padding:10px;
}

.place-buttons{
  display:flex;
  justify-content: space-around;
}
.bottom-details{
  bottom:5px;
  width:100%;
}