
 #signIn {
   position: absolute;
   top: 30%;
   left: 50%;
   width: 300px;
   height: 300px;
   margin-left: -150px;
   margin-top: -150px;
   background:#3C3C3C;
 }

  #signInContainer {
   width:100%;
   height:100%;
   background:#3C3C3C;
 }
 #h2 {
   color: #ffffff;
   text-align: center;
   position: relative;
   top: 20px;
   
 }

 .group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

.loginInput,
textarea {
  background: none;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 10px 10px 5px;
  display: inherit;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;

}
.loginInput:focus,
textarea:focus {
  outline: none;
}
.loginInput:focus ~ label, .loginInput:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #49dda9;
}
.loginInput:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

.loginInput[type="password"] {
  letter-spacing: 0.3em;
}

label {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  font-family: "Gill Sans", system-ui;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
  left: 0;
}
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #49dda9;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #ffffff;
  color: #ff0000;
  border: none;
  width: 30%;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #ff0000;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #ff0000;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #0d8aee;
  color: #ff0000;
}
.btn.btn-submit {
  background: #ffffff;
  color: #3C3C3C;
  font-family: "Gill Sans", system-ui
}
.btn.btn-submit:hover {
  background: #49dda9;
  color: #ffffff;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}

hr {
  background: #49dda9;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}

#notValidMail{
  color:#ff8671;
  text-align: center;
  font-family: "Gill Sans", system-ui
}