.table-row {
  display: flex; 
  line-height: 24px;
  white-space: nowrap;
  margin: 10px; 
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  color:#3C3C3C;
  align-items: center;
  justify-content: space-between;
  }